
/*=========================================================*/
	/*==This is a body css style for for all pages of html===*/
/*=========================================================*/
body {
    font-family: Times New Roman , Times, serif;
    font-size: 13pt;
    margin: 3em;
}

/*=============================================================================*/
	/*==This is a body css style for h1,h2 and h3 for all pages of html===*/
/*=============================================================================*/
h1{
	color: #8A2BE2;
	font-size: 22pt;
	text-align: center;
}

h2{
	color: #8B0000;
	font-size: 18pt;
}

h3{
	color: #006400;
	font-size: 16pt;
}
#two {
	text-align: center;
}

/*===================================================================================*/
	/*==This is a table css style used in index2.html to show the table===*/
/*===================================================================================*/

#ethinic_groups {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

}
#ethinic_groups td,#ethinic_groups tr {
  border: 2px solid #87CEEB;
  padding: 8px;
  background-color: #00FA9A;
  color: #FA8072;
}
#ethinic_groups td:hover {background-color: black;}
/*=========================================================*/
	/*==Footer code to display in computer and print===*/
/*=========================================================*/

#footer {
 clear: both;
 background: #FFFFFF;
 width:100%
}
#footer p {
 margin:0;
 padding:5px 0px;
 text-align: center;
 font-size: 14px;
}

#Menu ul {
  display: none;
}


/*==============================================================================*/
	/*==Print notice code to display/undisplay in computer and print===*/
/*===============================================================================*/
#printnotice {
 display: block;
 border-style: dotted;
}
h1{
	margin: 0;
}

